---
layout: default
home: true
permalink: /
---

<div class="grid">
  <div class="home--left grid__item">
  
    <h1>Train your company's employees for <span class="txt--blue__lite txt--bold">excellence</span>.</h1>
    
    <div class="grid">
      <div class="one-third grid__item">
        <h2 class="hdr--results beta">Find Focus</h2>
        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
        <p>Quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
      </div>
      
      <div class="one-third grid__item">
        <h2 class="hdr--results beta">Think clearer</h2>
        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
      </div>
      
      <div class="three-tenths grid__item">
        <h2 class="hdr--results beta">Get results</h2>
        <img class="up-3" src="{{ site.img }}chart.png" alt="Chart Icon" />
        <img class="up-3 img--arrow" src="{{ site.img }}arrow.png" alt="Arrow graphic" />
      </div>
      
      <a class="btn" href="/">View Success Stories</a>
      
      <div class="work one-whole grid__item">
        <h3 class="txt--lite">Brian has worked with ...</h3>
        {% assign num = 7 %}
        {% for logo in (1..num) %}
          <img class="img--placeholder" src="{{ site.img }}logos/logo-{{ logo }}.png" alt="" />
        {% endfor %}
      </div>
    </div>
  
  <!--  <ul class="posts">
      {% for post in site.posts %}
        <li>
          <span class="post-date">{{ post.date | date: "%b %-d, %Y" }}</span>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </li>
      {% endfor %}
    </ul>-->
  
  <!--  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>-->
  
  </div>

{% include home-right.html %}

</div>
